@import url('assets/css/all.min.css');

@font-face {
    font-family: Parastoo;
    src: url('assets/fonts/Parastoo-FD.eot');
    src: url('assets/fonts/Parastoo-FD.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Parastoo-FD.woff2') format('woff2'),
         url('assets/fonts/Parastoo-FD.woff') format('woff'),
         url('assets/fonts/Parastoo-FD.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Parastoo;
    src: url('assets/fonts/Parastoo-Bold-FD.eot');
    src: url('assets/fonts/Parastoo-Bold-FD.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Parastoo-Bold-FD.woff2') format('woff2'),
         url('assets/fonts/Parastoo-Bold-FD.woff') format('woff'),
         url('assets/fonts/Parastoo-Bold-FD.ttf') format('truetype');
    font-weight: bold;
  }

*{
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing:antialiased;
    outline:none !important;
}

body{
    margin:0;
    padding:0;
    direction:rtl;
    font-family: Parastoo;
    background:#f8f8f8;
}

h1{
    text-align:center;
    margin:4rem 0;
    margin-bottom:0;
}

h2{
    text-align:center;
    margin-bottom:2rem;
    font-weight:300;
    font-size:1rem;
}

#editor{
    direction:ltr;
    background:#FFF;
}

.ql-editor{
    direction:rtl;
    text-align:right !important;
    min-height:300px;
    font-family: Parastoo;
}

.App{
    max-width:90%;
    margin:auto;
}

.mic{
    width:9rem;
    height:9rem;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:#f1f1f1;
    margin:auto;
    font-size:3rem;
    margin-bottom:2rem;
    border:10px solid #f9f9f9;
    position:relative;
    cursor: pointer;

    &.active{
        background:#db4646;
        color:#FFF;
        border:none;

        &::before{
            width:10rem;
            height:10rem;
            position:absolute;
            top:-50%;
            left:-50%;
            right:-50%;
            bottom:-50%;
            margin:auto;
            z-index:-1;
            content:'';
            display:block;
            border-radius:50%;
            background:#f8abab;
            animation:1s listening;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
        }
    }
}

@keyframes listening{
    0%{
        transform:scale(.9);
    }
    100%{
        transform:scale(1.1);
    }
}

.d-flex{
    display:flex !important;
}

.align-items-center{
    align-items:center !important;
}

.justify-content-end{
    justify-content:flex-end !important;
}

.justify-content-center{
    justify-content:center !important;
}

.justify-content-start{
    justify-content:flex-start !important;
}

.align-items-start{
    align-items:flex-start !important;
}

.align-items-end{
    align-items:flex-end !important;
}

button.btn-dark{
    background:#2d2d2d;
    color:#FFF;
    border:none;
    padding:8px 25px;
    border-radius: 5px;
    margin:1rem 0;
    font-family: Parastoo;
    cursor: pointer;
}

.Toastify__toast{
    font-family: Parastoo !important;
    direction: rtl !important;
    padding:5px 20px !important;
    font-size:.9rem;
    min-height:50px !important;
}

.Toastify__toast--success{
    background:#2d2d2d !important;
}

.Toastify__close-button{
    display:flex;
    align-items:center;
    justify-content:center;
}

.font-weight-bold{
    font-weight:bold !important;
}

.prev-article{
    width:100%;
    max-width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    p{
        margin:0;
    }

    margin:20px 0;
    padding:7.5px 15px;
    font-size:.9rem;
    border-right:2px solid #2d2d2d;
    background:#efefef;
    color:#2d2d2d;
}

.justify-content-between{
    justify-content:space-between;
}

.help-commands{
    p{
        margin-left:15px;
        font-size:.9rem;
        margin-top:0;

        &::after{
            width:1px;
            height:10px;
            background:#2d2d2d;
            content:'';
            display:inline-block;
            position:relative;
            top:2px;
            margin-right:15px;
        }

        &:last-child::after{
            display:none;
        }
    }
}